<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Admiral_s_Desk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Admiral_s_Desk.My.MySettings>
            <setting name="KancolleFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="資源等管理" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="遠征情報表示" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Admiral_s_Desk.My.MySettings>
    </userSettings>
</configuration>
