<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Admiral_s_Desk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Admiral_s_Desk.My.MySettings>
            <setting name="KancolleFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="資源等管理" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="遠征情報表示" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="艦隊情報一覧位置" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="遠征情報ウインドウ位置" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="艦隊情報ウインドウ位置" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="提督情報ウインドウ位置" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="更新確認の有無" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="提督ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="艦隊ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="基地航空隊ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="工廠ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="任務ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="遠征ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="工廠情報ウインドウ位置" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="建造開発ネタバレチェック" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="動作速度" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="任務情報ウインドウ位置" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="入手艦娘記録" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="入手艦娘記録名" serializeAs="String">
                <value />
            </setting>
            <setting name="更新確認" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="大破通知" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="戦闘予報ウインドウ表示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="戦闘予報ウインドウ位置" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="拡大率" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="遠征終了通知設定" serializeAs="String">
                <value>True</value>
            </setting>
        </Admiral_s_Desk.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
